.loading {
    position:absolute;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 1; 
    transition: opacity 1s ease;
}

.loading__container {
    position: relative;
    width: 250px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading__container::after {
    content: "";
    position: absolute;
    width: 250px;
    height: 100px;
    top: 74px;
    background-color: white;
}

.loading__logo {
    position: absolute;
    width: 50%;
    left: -10px;
    display: flex;
    justify-content: center;
    transform: translateY(80px);
    animation: slide-up 1s forwards;
    animation-delay: 3.6s;
}

.loading__img {
    width: 60%;
}

.loading__letter {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    transform: translateY(100px);
    animation-delay: 3s;
    margin-right: 3px;
}

.loading__letter:first-of-type{
    margin-left: 100px;
}

.loading__underline {
    width: 0; 
    border: 2px solid black;
    border-radius: 50px;
    animation: enlarge 1s forwards;
}

.section__img--absolute{
    position: absolute;
    width: 44px;
    height: 50px;
    opacity: 0;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: opacity 1s;
    z-index:10000;
}

.section__img--absolute:hover {
    animation: pulse 1s 6 alternate;
}

.article__link--loading {
    position: absolute;
    width: 75px;
    height: 70px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    animation: flip 1s infinite alternate;
    transition: opacity .5s;
}

@keyframes slide-up {
    100% {
        transform: translateY(15px);
    }
}

@keyframes enlarge {
    100% {
        width: 250px;
    }
}

@keyframes pulse {
    100%{
        opacity: 0.5;
        transform: scale(2);
    }
}

@keyframes flip {
    100%{
        transform: scaleX(-1);
    }
}

.visibility {
    opacity: 0;
}